body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  text-align: center;
  color: #293c4b;
}

h1 {
  font-size: 30px;
}

img {
  margin: 20px 0;
  max-width: 200px;
}

.center {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

td.name-label-col {
  text-align: right;
}

td.input-field-col {
  text-align: right;
  max-width: 120px;
}

td.unit-label-col {
  text-align: left;
}

.form-text {
  font-size: 22px;
}

.numeric {
  text-align: right;
}

.numeric-input {
  font-family: Roboto, sans-serif;
  text-align: right;
  padding-bottom:7px;
}

.numeric-label {
  padding-top:3px;
  text-align: right;
}

.section-header {
  font-size: 23px;
  text-align: left;
  text-decoration: underline
}

.submit-button-row {
  padding: 20px 0;
}
